
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>


<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>

<p>Portfolio Concept: take a few minutes to think about your portfolio site and outline the content you want to include. If you already have some Web Development experience and some prior projects, this is the opportunity to highlight them. If you have work from another industry, you can provide those of examples of your professional experience as well. If you have any design elements in mind, you can record these as well.
 </p>
