h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 20px auto;
}

/* Nav */

.nav {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 10px 20px;
  z-index: 1;
}

.nav ul li {
  display: inline-block;
}

.nav ul {
  display: inline-block;
  width: 24%;
  float: center;
  padding-right: 0%;
  padding-left: 5%;
}

.nav ul li a {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1.5em;
  color: #51682A;
  text-align: center;
}

selector:pseudo-class {
  property: value;
}

.nav a:hover {
  color: #ff0;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}


/* Hover */

span:hover {
  color: #9893A7;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
